/* The switch - the box around the slider */
.container{
  position: relative;
  display: inline-block;
background-color: antiquewhite;   
    width: 60px;
    height: 34px;
}

.container input{
   opacity: 0;
  width: 0;
  height: 0;
}

 .slider{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   cursor: pointer;
 background-color: gray;
 -webkit-transition: 0.4s;
 transition: 0.4s;
border-radius: 30px; 
}
.slider::before{
  position: absolute;
  content: "";
  background-color: white;
  height: 26px;
  width: 26px;
   left: 5px;
  top: 4px;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked+.slider{
  background-color: blue;
}
input:checked +.slider::before{
  transform: translateX(25px);

}
